.btn{
    width: 218px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #9ED3D7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#button{
    width: 130px;
    height: 49px;
    flex-shrink: 0;
    background: #FFFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }