.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #DDD0E4;
    color: white;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.f-cl-1{
    display: flex;
    width: 413px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 38px;
    flex-wrap: wrap;
    left: 59px;
    top: 62px;
}

.f-cl-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    left: 614px;
    bottom: 101px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-cl-3{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    right: 172px;
    top: 105px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-cl-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    right: 126px;
    bottom: 6px;
    width: 507px;
    height: 126px;
}
.btn{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #9ED3D7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.7s;
}
.btn:hover{
    background-color: #FBA6C5;
}

#button:hover{
    background-color: #FBA6C5;
 }

#button{
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    background: #FFFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.7s;

}

 .div0{
    display: inline-flex;
    align-items: center;
    gap: 35px;
 }

 .div1{
    width: 476px;
    height: 584px;
 }

 #myTextBox{
    width: 400px;
    height: 40px;
    background: #FFFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
.image1{
    width: 476px;
    height: 584px;
}
.divall{
    display: inline-flex;
    flex-direction: row;
    gap: 250px;
    padding: 10px;
}

.rightdiv{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    padding: 10px;
}
.leftdiv{
 border: 10px;
 padding: 10px;
 padding-left: 100px;
}

.payimg{
    width: 350px;
    height: 90px;
}

#img2{
    width: 120px;
    height: 155px;
}
.semidiv{
    display: flex;
    align-items: flex-start;
    gap: 3px;
}
.tbl{
    width: 100%;
}
.th,td{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 179px;
    height: 33px;
}
.sidebar{
    display: none;
    width: 25%;
}
.productsimg1{
    width: 120px;
    height: 112px;
    left: 33px;
    top: 41px;
    padding-left: 65px;
}
.img-sec-1{
    width: 260px;
    height: 275px;
    background: #FFFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#date,#email,#address,#phone{
    width: 100%;
    height: 6%;
}
#name{
    width: 47%;
    height: 6%;   
}
#main{
    display: flex;
}